.f{
    color:black;
}
#d{
    color:darkblue;
}

body{


    background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);



}
.card{

    background: #c0392b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}
.fa-brands{
    margin-left: 80px;
    margin-top: 10px;
    color: black;
}
.btn-grad{


background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    margin-left: 70px;
    margin-top: 30px;
}

.card{
height: 500px;
align-items: center;
width: 700px;
margin-left: 300px;
margin-top: 50px;
}
#email{
width: 350px;
margin-top: 50px;
}
#password{
margin-top: 20px;
}
#a{
margin-left: 70px;
}
#b{
margin-left: 100px;
margin-top: 20px;
}